[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
gitpython = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"
psycopg2-binary = "*"
python-multipart = "*"
pandas = "*"
aiocache = {extras = ["redis", "memcached"], version = "*"}
slack-sdk = "*"
sqlmodel = "*"
pyright = "*"
mypy = "*"
alembic = "*"
google-api-python-client = "*"
install = "*"

[dev-packages]

[requires]
python_version = "3.10"
